{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name dot-from,
   :params [a b i n acc],
   :result :f64,
   :effects #{},
   :body
   (if
    (>= i n)
    acc
    (dot-from
     a
     b
     (+ i 1)
     n
     (f64-add acc (f64-mul (vector-f64-at a i) (vector-f64-at b i))))),
   :param-types [:vector-f64 :vector-f64 :i64 :i64 :f64]}
  {:name dot,
   :params [a b],
   :result :f64,
   :effects #{},
   :body (dot-from a b 0 (vector-f64-count a) (f64-from-bits 0)),
   :param-types [:vector-f64 :vector-f64]}
  {:name sum-sq-from,
   :params [a i n acc],
   :result :f64,
   :effects #{},
   :body
   (if
    (>= i n)
    acc
    (sum-sq-from
     a
     (+ i 1)
     n
     (f64-add acc (f64-mul (vector-f64-at a i) (vector-f64-at a i))))),
   :param-types [:vector-f64 :i64 :i64 :f64]}
  {:name sum-of-squares,
   :params [a],
   :result :f64,
   :effects #{},
   :body (sum-sq-from a 0 (vector-f64-count a) (f64-from-bits 0)),
   :param-types [:vector-f64]}
  {:name inv-rms,
   :params [a eps],
   :result :f64,
   :effects #{},
   :body
   (let
    [n (vector-f64-count a)]
    (if
     (= n 0)
     (f64-from-bits 0)
     (f64-div
      (f64-from-bits 4607182418800017408)
      (f64-sqrt
       (f64-add
        (f64-div (sum-of-squares a) (i64-to-f64-rounded n))
        eps))))),
   :param-types [:vector-f64 :f64]}
  {:name max-from,
   :params [a i n acc],
   :result :f64,
   :effects #{},
   :body
   (if
    (>= i n)
    acc
    (max-from a (+ i 1) n (f64-max acc (vector-f64-at a i)))),
   :param-types [:vector-f64 :i64 :i64 :f64]}
  {:name max-element,
   :params [a],
   :result :f64,
   :effects #{},
   :body
   (let
    [n (vector-f64-count a)]
    (if
     (= n 0)
     (f64-from-bits 0)
     (max-from a 1 n (vector-f64-at a 0)))),
   :param-types [:vector-f64]}
  {:name clamp-unit,
   :params [v],
   :result :f64,
   :effects #{},
   :body
   (f64-min
    (f64-max v (f64-from-bits 0))
    (f64-from-bits 4607182418800017408)),
   :param-types [:f64]}
  {:name clamp-non-negative,
   :params [v],
   :result :f64,
   :effects #{},
   :body (f64-max v (f64-from-bits 0)),
   :param-types [:f64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [dot
  sum-of-squares
  inv-rms
  max-element
  clamp-unit
  clamp-non-negative],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
