{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name never-expires,
   :params [],
   :result :i64,
   :effects #{},
   :body -1,
   :param-types []}
  {:name expires-at-ms,
   :params [last-used-ms keep-alive-ms],
   :result :i64,
   :effects #{},
   :body
   (if
    (< keep-alive-ms 0)
    (never-expires)
    (+ last-used-ms keep-alive-ms)),
   :param-types [:i64 :i64]}
  {:name expired?,
   :params [now-ms last-used-ms keep-alive-ms],
   :result :bool,
   :effects #{},
   :body
   (if
    (< keep-alive-ms 0)
    false
    (if
     (= keep-alive-ms 0)
     true
     (>= (- now-ms last-used-ms) keep-alive-ms))),
   :param-types [:i64 :i64 :i64]}
  {:name evict-for-load?,
   :params [resident-bytes incoming-bytes budget-bytes],
   :result :bool,
   :effects #{},
   :body
   (if
    (<= budget-bytes 0)
    false
    (> (+ resident-bytes incoming-bytes) budget-bytes)),
   :param-types [:i64 :i64 :i64]}
  {:name exceeds-budget-alone?,
   :params [incoming-bytes budget-bytes],
   :result :bool,
   :effects #{},
   :body
   (if (<= budget-bytes 0) false (> incoming-bytes budget-bytes)),
   :param-types [:i64 :i64]}
  {:name declared-bytes,
   :params [size],
   :result :i64,
   :effects #{},
   :body (if (< size 0) 0 size),
   :param-types [:i64]}
  {:name reap-interval-ms,
   :params [keep-alive-ms],
   :result :i64,
   :effects #{},
   :body
   (if
    (< keep-alive-ms 0)
    60000
    (if
     (< keep-alive-ms 1000)
     1000
     (if (> keep-alive-ms 60000) 60000 keep-alive-ms))),
   :param-types [:i64]}
  {:name load-duration-nanos,
   :params [existed? started-nanos loaded-nanos],
   :result :i64,
   :effects #{},
   :body (if existed? 0 (- loaded-nanos started-nanos)),
   :param-types [:bool :i64 :i64]}
  {:name eval-duration-nanos,
   :params [eval-started-nanos ended-nanos],
   :result :i64,
   :effects #{},
   :body (- ended-nanos eval-started-nanos),
   :param-types [:i64 :i64]}
  {:name total-duration-nanos,
   :params [started-nanos ended-nanos],
   :result :i64,
   :effects #{},
   :body (- ended-nanos started-nanos),
   :param-types [:i64 :i64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [never-expires
  expires-at-ms
  expired?
  evict-for-load?
  exceeds-budget-alone?
  declared-bytes
  reap-interval-ms
  load-duration-nanos
  eval-duration-nanos
  total-duration-nanos],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
