{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-max-tokens,
   :params [],
   :result :i64,
   :effects #{},
   :body 32,
   :param-types []}
  {:name max-tokens,
   :params [present? requested],
   :result :i64,
   :effects #{},
   :body
   (if
    present?
    (if (> requested 0) requested (default-max-tokens))
    (default-max-tokens)),
   :param-types [:bool :i64]}
  {:name stream?,
   :params [present? requested],
   :result :bool,
   :effects #{},
   :body (if present? requested true),
   :param-types [:bool :bool]}
  {:name forever,
   :params [],
   :result :i64,
   :effects #{},
   :body -1,
   :param-types []}
  {:name default-keep-alive-ms,
   :params [],
   :result :i64,
   :effects #{},
   :body 300000,
   :param-types []}
  {:name keep-alive-ms,
   :params [present? seconds],
   :result :i64,
   :effects #{},
   :body
   (if
    present?
    (if (< seconds 0) (forever) (* seconds 1000))
    (default-keep-alive-ms)),
   :param-types [:bool :i64]}
  {:name top-k,
   :params [present? requested],
   :result :i64,
   :effects #{},
   :body (if present? (if (< requested 0) 0 requested) 0),
   :param-types [:bool :i64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [default-max-tokens
  max-tokens
  stream?
  forever
  default-keep-alive-ms
  keep-alive-ms
  top-k],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
