{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name route-not-found,
   :params [],
   :result :i64,
   :effects #{},
   :body 0,
   :param-types []}
  {:name route-version,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name route-tags,
   :params [],
   :result :i64,
   :effects #{},
   :body 2,
   :param-types []}
  {:name route-ps,
   :params [],
   :result :i64,
   :effects #{},
   :body 3,
   :param-types []}
  {:name route-show,
   :params [],
   :result :i64,
   :effects #{},
   :body 4,
   :param-types []}
  {:name route-generate,
   :params [],
   :result :i64,
   :effects #{},
   :body 5,
   :param-types []}
  {:name route-chat,
   :params [],
   :result :i64,
   :effects #{},
   :body 6,
   :param-types []}
  {:name route-code,
   :params [method path],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? method "GET")
    (if
     (string=? path "/api/version")
     1
     (if
      (string=? path "/api/tags")
      2
      (if (string=? path "/api/ps") 3 0)))
    (if
     (string=? method "POST")
     (if
      (string=? path "/api/show")
      4
      (if
       (string=? path "/api/generate")
       5
       (if (string=? path "/api/chat") 6 0)))
     0)),
   :param-types [:string :string]}
  {:name route-reads-body?,
   :params [code],
   :result :bool,
   :effects #{},
   :body (>= code 4),
   :param-types [:i64]}
  {:name stop-eos,
   :params [],
   :result :i64,
   :effects #{},
   :body 0,
   :param-types []}
  {:name stop-max-tokens,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name stop-unknown,
   :params [],
   :result :i64,
   :effects #{},
   :body 2,
   :param-types []}
  {:name done-reason,
   :params [stop-code],
   :result :string,
   :effects #{},
   :body (if (= stop-code 1) "length" "stop"),
   :param-types [:i64]}
  {:name error-not-found,
   :params [],
   :result :i64,
   :effects #{},
   :body 0,
   :param-types []}
  {:name error-bad-request,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name error-internal,
   :params [],
   :result :i64,
   :effects #{},
   :body 2,
   :param-types []}
  {:name error-status,
   :params [kind],
   :result :i64,
   :effects #{},
   :body (if (= kind 0) 404 (if (= kind 1) 400 500)),
   :param-types [:i64]}
  {:name api-version,
   :params [],
   :result :string,
   :effects #{},
   :body "0.1.0-kotodama",
   :param-types []}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [route-not-found
  route-version
  route-tags
  route-ps
  route-show
  route-generate
  route-chat
  route-code
  route-reads-body?
  stop-eos
  stop-max-tokens
  stop-unknown
  done-reason
  error-not-found
  error-bad-request
  error-internal
  error-status
  api-version],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
