{:format :kotoba.kir/v3,
 :signature nil,
 :functions
 [{:name max-output-tokens,
   :params [requested],
   :result :i64,
   :effects #{},
   :body
   (if (> requested 0) (if (> requested 4096) 4096 requested) 64)}
  {:name temperature-milli,
   :params [requested],
   :result :i64,
   :effects #{},
   :body (if (< requested 0) 0 (if (> requested 2000) 2000 requested))}
  {:name stream?,
   :params [],
   :result :bool,
   :effects #{},
   :body false}],
 :oracle-value nil,
 :schema-identities nil,
 :exports [max-output-tokens temperature-milli stream?],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
